.cardContent, h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

textarea {
    font-family: monospace;
}

.cardContent h4 {
    margin-top: 0;
}

.alignContainer {
    display: table;
    width: 100%;
}

.alignMiddle {
    height: 14em;
    display: table-cell;
    vertical-align: middle;
}

.cardBack {
    display: none;
}

.largerText {
    font-size: 1.2em;
}

/* disables collapsing header menu */

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

