{% extends "layout.html" %}
{% block body %}
    <!--
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="card type">
                <a href="{{ url_for('general') }}" class="btn btn-{{ "primary" if card_type == "general" else "default" }}">General</a>
                <a href="{{ url_for('code') }}" class="btn btn-{{ "primary" if card_type == "code" else "default" }}">Code</a>
            </div>
        </div>
    </div>

    <hr/>
-->
    <div class="container">
        <div class="row memorizePanel">
                <!--
                <div class="col-xs-2">
                    <div class="alignContainer">
                        <div class="alignMiddle text-right">
                            <br/>
                            <br/>
                            <a href="wewetw"><i class="fa fa-chevron-left fa-5x"></i></a>
                        </div>
                    </div>
                </div>
                -->

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="javascript:" class="btn btn-primary text-uppercase btn-md flipCard">
                            <!--<i class="fa fa-exchange"></i>-->

                        Flip
                    </a>

                        <a href="{{ url_for(card_type) }}" id="nextCard" class="btn btn-lg text-uppercase btn-primary">
                            Next
                            <!--<i class="fa fa-arrow-right" id="nextCard"></i>-->
                        </a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default cardFront flipCard">
                            <div class="panel-body">
                                <div class="alignContainer">
                                    <div class="alignMiddle frontText">
                                        <h3 class="text-center">{{ card.front }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary cardBack flipCard">
                            <div class="panel-body">
                                <div class="alignContainer">
                                    <h4 class="alignMiddle frontText">
{#                                        {% if card.type == 1 %}#}
                                            {% if short_answer %}
                                                <p class="text-center largerText">
                                            {% endif %}
                                        {{ card.back|replace("\n", "<br />")|safe }}
                                        {% if short_answer %}
                                            </p>
                                        {% endif %}
{#                                        {% else %}#}
{#                                            <pre>{{ card.back|safe }}</pre>#}
{#                                        {% endif %}#}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">

                        <a href="{{ url_for('mark_known', card_id=card.id, card_type=card_type) }}" id="known"
                           class="btn text-uppercase btn-default btn-lg">
                            <!--<i class="fa fa-check"></i>-->
                            known
                        </a>

                    </div>
                </div>
                <br/>
                <!--
        <div class="col-xs-2">
            <div class="alignContainer">
                <div class="alignMiddle text-left">
                    <br/>
                    <br/>
                    <a href="ergergerge"><i class="fa fa-chevron-right fa-5x"></i></a>
                </div>
            </div>
        </div>
   
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ url_for(card_type, card_id=card.id) }}" class="btn btn-default btn-sm">
                <i class="fa fa-bookmark"></i>
                (#{{ card.id }})
            </a>

        </div>
    </div>
-->
        </div>
    </div>
    <script>
        $(document).keypress(function (e) {
            console.log(e.which);
            var keyS = e.which == 115;
            var keyM = e.which == 109;
            var keyK = e.which == 107;
            if (keyM || keyS || keyK) {
                $("#known")[0].click();
            }
            var space = e.which == 32;
            if (space) {
                $("#nextCard")[0].click();
            }
            var enter = e.which == 13;
            if (enter) {
                $(".flipCard").click();
            }
        });
        $(document).keydown(function (e) {
            switch (e.which) {
//        case 37: // left
                //       break;

                case 38: // up
                    $(".flipCard").click();
                    break;

                case 39: // right
                    $("#nextCard")[0].click();
                    break;

                case 40: // down
                    $(".flipCard").click();
                    break;

                default:
                    return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });
    </script>
{% endblock %}